@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 200; /* Ultra Light */
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
.font-weight-200 {
  font-weight: 200 !important;
}
.leadership-img {
  height: 300px;
  margin-bottom: 20px;
}
p {
  font-size: 16px;
  color: #000000;
  font-weight: 300 !important;
  line-height: 20px;
}
.text-white {
  color: white !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-size-18 {
  font-size: 18px;
}
.font-bold {
  font-weight: bold !important;
}
